@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;700&family=PT+Sans:wght@400;700&display=swap");

body {
  /* font-family: "Poppins", "Roboto", "PT Sans", sans-serif; */
  font-family: "lato";
}

:root {
  --background: #ffffff;
  --foreground: #716af2;
}

@theme inline {
  --color-primary: #716af2;
  --color-secondry: #212037;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.common-padding {
  @apply px-2  md:px-[4%] lg:px-[8%] xl:px-[14%] sm:px-6;
}

.global-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../public/9\ I.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(6, 3, 15);
}

.global-bg-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../public/9\ I.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2b2784;
}
