@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;700&family=PT+Sans:wght@400;700&display=swap");

body {
  /* font-family: "Poppins", "Roboto", "PT Sans", sans-serif; */
  font-family: "lato";
}

:root {
  --background: #ffffff;
  --foreground: #3a52bda3;
}

@theme inline {
  --color-primary: #716af2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.common-padding {
  @apply px-2  md:px-[6%] lg:px-[10%] xl:px-[16%] sm:px-6;
}
