@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;700&family=PT+Sans:wght@400;700&display=swap");

body {
  font-family: "Poppins", "Roboto", "PT Sans", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #3d34ee;
}

@theme inline {
  --color-primary: #004bad;
  --color-secondry: #3d34ee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.common-padding {
  @apply px-2  md:px-[4%] lg:px-[8%] xl:px-[14%] sm:px-6;
}

.hero-section {
  background: var("../../public/website video.mp4");
}
.global-bg {
  background: linear-gradient(rgba(12, 14, 33, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../public/9I.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #07040f;
}

.global-bg-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../public/9I.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2b2784;
}

.swiper-pagination-bullet {
  width: 14px !important;
  height: 8px !important;
  border-radius: 20px !important;
  background-color: #fff !important;
}

.blog-hero {
  background: linear-gradient(#893aff5f, rgba(17, 24, 74, 0.6)),
    url("../../public/blog.webp");

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
